.container {
  padding: 80px;
}
/*.carousel-inner {*/
/*-webkit-filter: grayscale(90%);*/
/*filter: grayscale(90%);*/
/*margin: auto;*/
/*}*/
.carousel-caption h3{
  color: #fff !important;
}

.navbar{
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 14px;
  letter-spacing: 4px;
  opacity: 0.7;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: aqua !important;
}
.navbar-nav li.active a {
  color: #fff;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
